<div class="container vh-100">
  <div class="row d-flex justify-content-center mb-3 mt-5">
    <div class="col-12 text-center">
      <img src="../../assets/logo.png" width="200vw" height="200vh">
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-3 mt-5">
    <div *ngIf="aberto">
      <div class="alert alert-success" role="alert">
        <i class="fa fa-unlock" aria-hidden="true"></i> A porta esta destrancada!
      </div>
    </div>
    <div *ngIf="!aberto">
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-lock" aria-hidden="true"></i> Digite a senha para destrancar.
      </div>
    </div>
  </div>
</div>